:host {
  display: flex;
  flex-direction: column;

  @keyframes animate-marquee {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes animate-marquee2 {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

.animate-marquee {
  animation: animate-marquee 15s linear infinite;
}

.animate-marquee2 {
  animation: animate-marquee2 15s linear infinite;
}
