<section class="bg-gray-100 py-60px">
  <div class="flex flex-nowrap flex-row justify-center gap-8 pause-animation relative">
    <div class="animate cursor-pointer">
      <ng-container *ngIf="shows.length; else posterEmptyState">
        <ng-container class="absolute top-0 start-0" *ngFor="let show of shows">
          <app-show-poster class="flex flex-row gap-5" [show]="show"></app-show-poster>
        </ng-container>
        <ng-container class="absolute top-0 start-0" *ngFor="let show of shows">
          <app-show-poster class="flex flex-row gap-5 md:start-0" [show]="show"></app-show-poster>
        </ng-container>
      </ng-container>
      <ng-template #posterEmptyState>
        <p>Where did all the shows go?</p>
      </ng-template>
    </div>
  </div>
</section>
