<section class="bg-gray-100 py-60px">
  <div class="pause-animation flex flex-nowrap flex-row justify-center gap-8 relative">
    <div class="animate cursor-pointer flex flex-row gap-5 ltr1 md:flex-col">
      <ng-container *ngIf="shows.length; else posterEmptyState">
        <ng-container *ngFor="let show of shows">
          <app-show-poster class="ltr1" [show]="show"></app-show-poster>
          <div class="absolute top-0">
            <app-show-poster class="flex flex-row ltr2 md:start-0" [show]="show"></app-show-poster>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #posterEmptyState>
        <p>Where did all the shows go?</p>
      </ng-template>
    </div>
  </div>
</section>
