/*:host {
  display: flex;
  flex-direction: column;

  @keyframes leftRight1 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes leftRight2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.ltr1 {
  animation: leftRight1 5s linear infinite;
}

.ltr2 {
  animation: leftRight2 5s linear infinite;
}
*/
