<section class="max-w-boxed-sm mx-auto px-5 py-8 md:py-24">
  <div class="flex flex-col flex-wrap gap-12 text-center md:flex-row">
    <!-- main description -->
    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-1">
        <span class="text-gray-500 text-lg">Newsletter</span>
        <h2 class="font-bold text-2xl text-gray-900 lg:text-3xl">Receive our amazing newsletter with news</h2>
      </div>
      <p class="opacity-80 text-base text-gray-500 md:text-xl">
        In order to receive news from our app so you can start tracking your TV shows in a better way, all you have to do is enter your
        email address.
      </p>
    </div>
    <!-- subscription form -->
    <form class="max-w-lg mx-auto relative w-full">
      <label for="email-address" class="absolute font-semibold pointer-events-none start-4 text-primary text-sm top-1.5">Email</label>
      <input
        id="email-address"
        name="email"
        type="email"
        class="border-2 border-gray-300 pb-1 ps-4 pe-3.5 pt-5 rounded-md w-full"
        placeholder="your@email.com"
        autocomplete="email"
      />
      <button class="absolute end-1.5 top-1.5" altButton><p form>Start Tracking</p></button>
    </form>
  </div>
</section>
