<div class="flex gap-4 items-center justify-center">
  <!--<ng-container *ngIf="socials.length; else footerEmptyState">
    <ng-template *ngFor="let social of socials; trackBy: trackById">-->
  <a href="#" class="p-2 hover:scale-110 transition ease-in-out duration-500">
    <img
      src="https://raw.githubusercontent.com/marianaivs/angular-cojgnh/b590d2fc67fa166a72bb8f2f770f90dd607f408b/src/assets/img/icon-twitter.svg"
      alt=""
    />
  </a>
  <a href="#" class="p-2 hover:scale-110 transition ease-in-out duration-500">
    <img
      src="https://raw.githubusercontent.com/marianaivs/angular-cojgnh/b590d2fc67fa166a72bb8f2f770f90dd607f408b/src/assets/img/icon-facebook.svg"
      alt=""
    />
  </a>
  <a href="#" class="p-2 hover:scale-110 transition ease-in-out duration-500">
    <img
      src="https://raw.githubusercontent.com/marianaivs/angular-cojgnh/b590d2fc67fa166a72bb8f2f770f90dd607f408b/src/assets/img/icon-youtube.svg"
      alt=""
    />
  </a>
  <!--</ng-template>
    <ng-template #footerEmptyState><p>Where are the icons?</p></ng-template>
  </ng-container>-->
</div>
<div class="text-center">
  <small class="text-gray-500 text-sm">Copyright 2018 All rights reserved — Designed by Daniel Korpai</small>
</div>
